{% extends 'base.html.twig' %}

{% block prepare_active %}class="active"{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-4">
            <h2>Подготовка</h2>
            <p>
                Получив архив с кодом данного "проекта", вам нужно:
                <ul>
                    <li>Распаковать файлы на диск</li>
                    <li>Создать пустую базу данных (mysql)</li>
                    <li>В терминале перейти в директорию проекта</li>
                    <li>
                        Выполнить команду <span class="text-danger">composer install</span> (вопросы по установке или
                        использованию composer-а
                        выходят за рамки этой инструкции, если он у вас не установлен и вы не знакомы с тем, что
                        это такое, будем считать, что разобраться с этим самостоятельно - первое тестовое задание)
                    </li>
                    <li>
                        В процессе выполнения команды composer install ввести корректные данные для подключения
                        к созданной вами базе данных
                    </li>
                    <li>
                        Выполнить команду <span class="text-danger">php app/console doctrine:schema:update --force</span>
                        эта команда создаст в вашей базе данных пустые таблицы, необходимые для дальнейшей работы.
                    </li>
                    <li>
                        Применить к вашей базе данных запросы из файла <span class="text-danger">install.sql</span> расположенного в корне проекта.
                    </li>
                    <li>
                        Настроить локально виртуальный хост с директорией web проекта, в качестве публичной (предполагается,
                        что для вас не секрет о чем речь).
                    </li>
                </ul>
            </p>
        </div>
        <div class="col-lg-4">
            <h2>Выполнение</h2>
            <p>
                В процессе выполнения заданий вы можете изменять абсолютно все, что посчитаете нужным.
            </p>
            <p>
                Использование ORM Doctrine предполагает, что проверяющий, получив
                ваш код выполнит команду <span class="text-danger">doctrine:schema:update</span> и применит все
                внесенные вами в структуру БД изменения. Однако, если по каким-то
                причинам этого недостаточно, либо вы считаете необходимым добавление
                каких-то особенных записей в базу, то необходимо добавить в корень
                проекта файл update.sql со всеми необходимыми запросами.
            </p>
            <p>
                Если вы считаете необходимым прокомментровать вашу работу словами,
                то добавьте в корень проекта файл Comments.txt со всеми своими
                комментариями.
            </p>
        </div>
        <div class="col-lg-4">
            <h2>Результаты</h2>
            <p>
                Результаты нужно предоставить в виде патча. Для этого:
            </p>
            <ul>
                <li>В терминале перейти в директорию проекта</li>
                <li>
                    Если вами были добавлены какие-нибудь файлы, то необходимо
                    выполнить команду <span class="text-danger">git add .</span> (если у вас не установлен Git,
                    то нужно разобраться с его установкой и использованием в вашей операционной системе самостоятельно)
                </li>
                <li>
                    Выполнить команду <span class="text-danger">git diff HEAD > /path/myname.patch</span>, где myname - ваша
                    фамилия, имя или ник латинскими буквами, а /path - путь к создаваемому файлу.
                </li>
                <li>
                    Отправить сформированный файл патча проверяющему.
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
